Final-Project-2019-Server\FinalProject2018\.vs
Final-Project-2019-Server\FinalProject2018\ConsoleApp1
#Final-Project-2019-Server\FinalProject2018\DAL
#Final-Project-2019-Server\FinalProject2018\Entities
Final-Project-2019-Server\FinalProject2018\packages
Final-Project-2019-Server\FinalProject2018\FinalProject2018.sln
