FinalProject2018/.vs
FinalProject2018/DAL

#FinalProject2018\.vs
#FinalProject2018\ConsoleApp1
#FinalProject2018\DAL
#FinalProject2018\Entities
#FinalProject2018\packages
#FinalProject2018\FinalProject2018.sln


FinalProject2018/BLL/bin
FinalProject2018/BLL/obj
FinalProject2018/API/bin
FinalProject2018/API/obj
FinalProject2018/Entities/bin
FinalProject2018/Entities/obj

/BLL/bin
/BLL/obj
/API/bin
/API/obj
/Entities/bin
/Entities/obj

BLL/bin
BLL/obj
API/bin
API/obj
Entities/bin
Entities/obj