FinalProject2018/.vs
FinalProject2018/DAL

#FinalProject2018\.vs
#FinalProject2018\ConsoleApp1
#FinalProject2018\DAL
#FinalProject2018\Entities
#FinalProject2018\packages
#FinalProject2018\FinalProject2018.sln
